<% include ./partials/header %>

<section id="DemoUserSignin">
  <div class="container d-flex justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Sign in as a Demo User</h5>
          <div class="row">
            <div class="col-6 d-flex justify-content-center">
              <a href="/signinasAdminDemo">
                <img src="./images/Admin.png">
                <p class="text-center">Admin</p>
              </a>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <a href="/signinasFakeUserDemo">
                <img src="./images/User_Avatar.png">
                <p class="text-center">FakeUser</p>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-6 d-flex justify-content-center">
              <a href="/signinasProjectManagerDemo">
                <img src="./images/ProjectManager.png">

                <p class="text-center">Project Manager</p>
              </a>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <a href="/signinasDeveloperDemo">
                <img src="./images/Developer.png">
                <p class="text-center">Developer</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ./partials/footer %>