<% include ../partials/header %>
<% include ../partials/sideTopBar.ejs %>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/js/dataTables.js"></script>

<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="/projects/create" class="btn btn-primary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-project-diagram"></i>
      </span>
      <span class="text">New Project</span>
    </a>
  </div>
  <div class="row">
    <div class="card shadow mb-4">
      <div class="card-header py-3 bg-info">
        <h6 class="m-0 font-weight-bold text-white">Projects</h6>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="projectTable">
          <thead>
            <tr>
              <th scope="col" width="500">Project Name</th>
              <th scope="col" width="500">Description</th>
              <th scope="col" width="500"></th>
            </tr>
          </thead>
          <tbody>
            <% foundProjects.projects.forEach(project => { %>
            <tr>
              <td><%= project.title %></td>
              <td><%= project.description %></td>
              <td>
                <ul>
                  <li><a href="/projects/details/<%= project.title %>">More Details</a></li>
                  <li><a href="/manageUsers/<%= project.title %>/manageProjectUsers">Manage Users</a></li>
                </ul>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>


  </div>


</div>

<script>
  $(document).ready(function () {
    $('#projectTable').DataTable({
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ]
    });
  });
</script>


<% include ../partials/botSideTopBar.ejs %>
<% include ../partials/footer %>